<div class="container">
    <div class="header">
        <div class="user">
            <i class="fas fa-user-circle m-auto pr-2"></i>
            <span class="name">
                Hello John
                <div class="your-cart">Your Cart</div>
            </span>
        </div>
        <h2 class="float-right">
            3 Items
        </h2>
    </div>
    <hr>

    <div class="row cart-header-row">
        <div class="col-6">
            Product Details
        </div>
        <div class="col">
            Price
        </div>
        <div class="col">
            Quantity
        </div>
        <div class="col">
            Price
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row align-items-center justify-content-center cart-data-row">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-1">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                </div>
                <div class="col-2">
                    <img src="http://localhost:3000/1/0W2A7316-min.JPG" class="img-thumbnail example-margin" alt="">
                </div>
                <div class="col">
                    <div>Floral Leafy Foll Kurta</div>
                    <div class="mt-2 mb-2">
                        <span class="arrival">
                            New Arrival
                        </span>
                    </div>
                    <div>SIZE: XL</div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>
                {{300 | currency:'INR':'symbol' : '1.0-0'}}
            </h2>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                        <span class="fa fa-minus"></span>
                    </button>
                </span>
                <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                <span class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]">
                        <span class="fa fa-plus"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col">
            <h2>
                {{300 | currency:'INR':'symbol' : '1.0-0'}}
            </h2>
        </div>
        <div class="col-1">
            <span>
                <i class="fas fa-trash-alt"></i>
            </span>
        </div>
    </div>

    <div class="row align-items-center justify-content-center cart-data-row">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-1">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                </div>
                <div class="col-2">
                    <img src="http://localhost:3000/1/0W2A7316-min.JPG" class="img-thumbnail example-margin" alt="">
                </div>
                <div class="col">
                    <div>Floral Leafy Foll Kurta</div>
                    <div class="mt-2 mb-2">
                        <span class="arrival">
                            New Arrival
                        </span>
                    </div>
                    <div>SIZE: XL</div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>
                {{300 | currency:'INR':'symbol' : '1.0-0'}}
            </h2>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                        <span class="fa fa-minus"></span>
                    </button>
                </span>
                <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                <span class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]">
                        <span class="fa fa-plus"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col">
            <h2>
                {{300 | currency:'INR':'symbol' : '1.0-0'}}
            </h2>
        </div>
        <div class="col-1">
            <span>
                <i class="fas fa-trash-alt"></i>
            </span>
        </div>
    </div>

    <div class="row align-items-center justify-content-center cart-data-row">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-1">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                </div>
                <div class="col-2">
                    <img src="http://localhost:3000/1/0W2A7316-min.JPG" class="img-thumbnail example-margin" alt="">
                </div>
                <div class="col">
                    <div>Floral Leafy Foll Kurta</div>
                    <div class="mt-2 mb-2">
                        <span class="arrival">
                            New Arrival
                        </span>
                    </div>
                    <div>SIZE: XL</div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>
                {{300 | currency:'INR':'symbol' : '1.0-0'}}
            </h2>
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                        <span class="fa fa-minus"></span>
                    </button>
                </span>
                <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                <span class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]">
                        <span class="fa fa-plus"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col">
            <h2>
                {{300 | currency:'INR':'symbol' : '1.0-0'}}
            </h2>
        </div>
        <div class="col-1">
            <span>
                <i class="fas fa-trash-alt"></i>
            </span>
        </div>
    </div>

    <div class="row total-row">
        <div class="col">
            <a routerLink="/home"> < Continue Shipping</a>
        </div>
        <div class="col">
            <h2 class="float-right">
                Subtotal: 
                {{300 | currency:'INR':'symbol' : '1.0-0'}}
                <button mat-raised-button class="buy-now">Buy Now</button>
            </h2>
        </div>
    </div>
</div>