<div class="container pt-3 pb-3">
    <h1><u>Terms and Conditions</u></h1>
    <br>
    <h2>Return or Refund policy:</h2>
    <p>
       Products once sold can't be taken for refund. We will accept the exchange for the products if size is not matching.
    </p>
    <br>
    <h2>Customer service policy:</h2>
    <p>
        We are committed to providing the best customer service and quality products. In the
        unavoidable event that an ordered item is not available or we are unable to fulfill your
        order we will notify you within 2 business days for an exchange.
    </p>
    <h2>Care Instructions:</h2>
    <p>
        All garments are recommended to DRY CLEAN and Normal wash, unless otherwise
        mentioned.
    </p>
    <br>
    <h2>Measurements of products:</h2>
    <p>
        Measurements mentioned are approximate to allow you to understand the approximate
        size of the product and will therefore not always be 100% accurate.
    </p>
    <br>
    <h2>Color of products:</h2>
    <p>
        The color of the products may slightly vary due to device digitisation and
        screen/monitor settings.
    </p>
    <br>
    <h2>Security policy:</h2>
    <p>
        The Fashion and Fancy Boutique has partnered with Razorpay payment gateway for
        secure payment and hassle free shopping experience. All major credit cards, debit
        cards, net banking and UPI options are accepted.
    </p>
    <br>
    <h2>Privacy policy:</h2>
    <p>
        We respect your privacy and are committed to protecting the privacy of all our
        customers.  Any information collected is kept strictly confidential.
    </p>
</div>
