<div class="LBox H_100 hideResponsive">
    <div class="flexColumn FlxBox H_100">
        <div class="Logo">
            <a href=""><img src="../../assets/images/ffb.png" alt="ffblogo"/></a>
        </div>
        <div class="enrollBar pos-rel">
            <span class="leftBar" style="left:0;width: 29%;"></span>
            <span class="rightBar" style="right:0;width: 29%;"></span>
            <span class="header-text-inner top-text">LOGIN</span>
        </div>
        <div class="formBlock">
            <form action="" novalidate>
                <div class="formInr">
                    <input type="text" placeholder="Emial / Phone" required=""/>
                </div>
                <div class="formInr">
                    <input type="password" placeholder="Password" required=""/>
                </div>	
                <div class="formInr login">
                    <button class="btn confirm" type="submit">Login</button>
                </div>										
            </form>
            <div class="alreadyRegistered">
                <span class="Regstrd"><span class="blinking">Forgot Password? </span><a href="#">Click Here</a></span>
            </div>
            <div class="alreadyRegistered">
                <span class="Regstrd"><span class="blinking">New User? </span><a href="#">Sign Up</a></span>
            </div>
        </div>
    </div>
</div>