mat-form-field{
    width: 40%;
}
.social-icon{
    cursor: pointer;
    margin: 5px;
    color: black;
    background-color: transparent;
    font-size: 22px;
    display: block;
    width: 30px;
}
.navbar{
    border-bottom: 1px solid #f2f2f2;
}
button{
    margin: 5px;
}
.cart, .order{
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 5px;
    display: grid;
    font-size: small;
}

.nav-item{
    text-align: center;
}